.content {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  }
  
  .content.show {
    height: auto;
    max-height: 999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  }